## 4.1 "Hello Earth" in Python

In [ ]:
print("Hello Earth")

## 4.2 Variable Assigningment and Arithmetic

In [ ]:
var_int = 8
var_float = 15.0
var_scifloat = 4e8
var_complex = complex(4, 2)
var_greetings = 'Hello Earth'

In [ ]:
type(var_int),  type(var_float), type(var_scifloat), type(var_complex), type(var_greetings)

In [ ]:
var_float/var_int

In [ ]:
int(var_float/var_int)

In [ ]:
var_string = '815'
int(var_string)

In [ ]:
add_sub = 8+15-42
mult_div_exp = (8*15/42)**4
print(add_sub, mult_div_exp)

In [ ]:
div_quo = 15 // 8
div_mod = 15 % 8
print(div_quo, div_mod)

In [ ]:
abs(add_sub), round(mult_div_exp)

## 4.3 Lists

In [ ]:
mixed_list = [8, 15, "Oceanic"]
mixed_list

In [ ]:
mixed_list[0], mixed_list[2]

In [ ]:
mixed_list.append("Flight")
mixed_list

In [ ]:
numbers_list = [4, 8, 15, 16, 23, 42]
print(numbers_list*2)

In [ ]:
numbers_list + mixed_list

## 4.4 Importing Packages

In [ ]:
import numpy as np

## 4.5 Array and Matrix Operations

In [ ]:
numbers_array = np.array(numbers_list)
numbers_array*2

In [ ]:
numbers_array[0]

In [ ]:
np.sort(numbers_array)

In [ ]:
numbers_array_2d = numbers_array.reshape(2,3)
numbers_array_2d

In [ ]:
numbers_array_2d[1,1]

In [ ]:
np.zeros(10), np.full(10, np.nan), np.arange(0, 5, 0.5)

In [ ]:
masked_nums = (numbers_array > 8)
masked_nums

In [ ]:
masked_nums_and = (numbers_array > 8) & (numbers_array < 30)
masked_nums_and

In [ ]:
masked_nums_or = (numbers_array < 8) | (numbers_array > 30)
masked_nums_or

In [ ]:
numbers_array[masked_nums]

In [ ]:
numbers_mask_array = np.ma.array(numbers_array, mask=~masked_nums)
numbers_mask_array, numbers_array.size

In [ ]:
numbers_array.min(), numbers_array.max()

## 4.6 Time Series Data

In [ ]:
from datetime import datetime, timedelta

In [ ]:
 #September 22, 2004 at 4:16 P.M
flight_time = datetime(2004, 9, 22, 4, 16)
flight_time.isoformat()

In [ ]:
flight_time.isoformat(), flight_time.strftime('%Y/%m/%d %H:%m')

In [ ]:
flight_time_shift = flight_time+timedelta(days=101)
flight_time_shift.strftime('%h %d %Y')

## 4.7 Loops

In [ ]:
team_members = ['Sayid', 'Claire', 'Jack', 'Hurley', 'Sawyer',
    'Sun-Hwa', 'Kate', 'Charlie', 'Locke', 'Desmond', 'Juliet'
    ]

for member in team_members:
    print(member)

In [ ]:
for member in team_members:
    if member[0] == 'J':
        print(member)

In [ ]:
exp_numbers=[]
for i in np.arange(0, 11):
    exp_numbers.append(i**2)
print(exp_numbers)

In [ ]:
for i, exp_number in enumerate(exp_numbers):
    print(i, exp_number)

In [ ]:
div_by_5 = False
i = 0

while not div_by_5:
    num = exp_numbers[i]
    
    if num == 0:
        i=i+1
        continue
    
    if (num%5 == 0):
        print(num)
        div_by_5 = True
    else:
        i=i+1
        if i >= len(exp_numbers):
            div_by_5 = True
            break

## 4.8 List Comprehensions

In [ ]:
[member for member in team_members if member[0] == 'J']

In [ ]:
exp_numbers_list = [value**2 for value in np.arange(0,11)]
print(exp_numbers_list)

In [ ]:
list(np.arange(0,11)**2)

In [ ]:
filtered_values = [value for value in exp_numbers_list if (value%5 == 0) 
   & (value > 0)]
print(filtered_values[0])

## 4.9 Functions

In [ ]:
def hello_earth():
    print("Hello Earth")

In [ ]:
hello_earth()

In [ ]:
def celsius_to_fahrenheit(Tc):
    """This function will take a temperature in Celsius and convert to Fahrenheit.

    Arguments:
        Tc: Temperature in Celsius

    Returns:
        Tf: Temperature in Fahrenheit
    """
    Tf = Tc*(9/5)+32
    return Tf

In [ ]:
temp_f = celsius_to_fahrenheit(40)
print(temp_f)

In [ ]:
def convert_temp(T=-999, convert_to='C'):
    '''This function will take a temperature in Celsius and convert to Fahrenheit.

    Arguments:
        T : Temperature in Celsius or Farenheit
        convert_to: conversion to 

    Returns:
        Tout: Temperature in Fahrenheit, Celsius, or -999 if nothing is calculated
    '''
    
    if convert_to == 'F':
        Tout = T*(9/5)+32
    elif convert_to == 'C':
        Tout = (T-32)*(5/9)
    else:
        print("Unrecognized conversion")
        Tout = -999
    return Tout

In [ ]:
def daily_precip(*args):
    '''This function calculates total rainfall of any number of arguments
    
    Arguments:
        hourly rain totals
    Returns:
        Total precipitation
    '''
    result = 0
    for arg in args:
        result = result + arg
    return result

In [ ]:
daily_precip(12, 20, 33)

In [ ]:
def daily_precip_list(args):
    result = 0
    for arg in args:
        result = result + arg
    return result

In [ ]:
hourly_precip = [0, 12, 20, 33]
daily_precip_list(hourly_precip)

## 4.10 Dictionaries

In [ ]:
ocean_units = {
  "temperature": "C",
  "velocity": "cm/s^2",
  "density": "kg/m^3",
  "pressure" : "dbar",
  "salinity" : "ppt"
}
ocean_units['pressure']

In [ ]:
ocean_units.update({"salinity" : "ppt"})

In [ ]:
ocean_units.items()

In [ ]:
def print_units(**kwargs):
    # Prints the variable and its units in a complete sentence
    for key, value in kwargs.items():
        print("The units for " + key + " are " + value)

print_units(**ocean_units)